.user-card-container {
	padding: 5%;
	display: flex;
	justify-content: center;
	align-items: center;
	flex-direction: column;
}

.user-card-container a:-webkit-any-link {
	text-decoration: none;
	color: inherit;
}

.user-card-container .profile-img {
	width: 65%;
	margin: 0 auto;
}
.user-card-container .profile-img .image {
	border-radius: 50%;
	border: solid 3px rgba(255, 132, 0, 0.367);
	cursor: pointer;
}

.user-card-container .profile-img .user-logo {
	border-radius: 0;
	position: relative;
	width: 30%;
	top: -30px;
	left: 65%;
}

.user-card-container h4 {
	font-size: 16px;
	font-weight: 600;
	font-family: "Raleway", sans-serif;
	text-align: left;
	padding-top: 5px;
}

.guide-logo-img {
	width: 70%;
}

.guide-container {
	width: 80%;
	margin: 0 auto;
}

.guide-container .guide-logo {
	width: 100%;
	text-align: center;
	object-fit: cover;
	overflow: hidden;
	position: relative;
}

.profile-details {
	display: flex;
	flex-direction: row;
}

.profile-details h4 {
	display: flex;
	justify-content: center;
	align-items: center;
	font-size: 16px;
}

.profile-details img {
	border-radius: 0 !important;
	object-fit: contain;
	height: 70%;
}

.profile-details {
	display: grid;
	grid-template-columns: 0.5fr 2fr;
}

.navbar-user-card-conatiner .profile-img {
	width: 25%;
}

.navbar-user-card-conatiner .profile-details {
	margin-top: 0;
}

.navbar-user-card-conatiner .flex-display {
}

.navbar-user-card-conatiner .flex-display h4 {
	display: flex;
	align-items: center;
	justify-content: center;
}

.navbar-user-card-conatiner .profile-img {
	margin: 0 30px;
	width: 13% !important;
}
