.flip-cards-container-with-map{
    display: grid;
    grid-template-columns: repeat(2,1fr);
    gap: 4%;
    width: 80%;
    margin:  0 auto;
    font-family: "Lato", "Segoe Ui", -apple-system, BlinkMacSystemFont, sans-serif;
    margin-top: 3%;
}

.flip-cards-section-with-map{
    display: grid;
    grid-template-columns: 3fr 2fr;
    align-items: center;
    margin: 0;
}

.map-container-with-map{
    margin: 0 auto;
    padding-right: 10%;
}

@media screen and (max-width: 991px) {
    .flip-cards-container-with-map{
        grid-template-columns: repeat(2,1fr);
    }
}
  @media screen and (max-width: 768px) {
      .flip-cards-container-with-map{
    grid-template-columns: repeat(1,1fr);
   }
 }
  