.detail-product-container {
	display: grid;
	grid-template-columns: 2fr 2fr;
	color: #111111;
	padding-top: 4vh;
	margin: 0;
}

.detail-product-container .map-container-with-map {
	margin-top: 3vh;
	margin-bottom: 3vh;
}

.detail-product-container .carausel {
	width: 90%;
	margin: 0 auto;
}

.detail-product-container .carausel img {
	border-radius: 0;
}

.botton-border {
	border-bottom: 1px #eaeaea solid;
}

.detail-product-data {
	margin-left: 20px;
	margin-right: 60px;
}

.detail-product-image {
}
.detail-product-heading {
	padding: 20px 0px;
}
.detail-product-heading h2 {
	font-family: "Raleway", sans-serif;
	font-weight: 700;
	font-size: 24px;
	line-height: 30px;
	letter-spacing: 1px;
}

.detail-product-data-rating {
	padding: 13px 0px;
	display: grid;
	grid-template-columns: 1.5fr 6fr;
}

.detail-product-overview h5 {
	font-size: 16px;
	margin: 3px 2px;
}

.detail-product-overview .details {
	margin-top: 1%;
}

.detail-product-overview .details .details-row {
	display: flex;
	align-items: center;
}

.detail-product-overview .details .details-row img {
	width: 3.5%;
}

.detail-product-overview h5 p {
	display: inline;
	font-weight: 500;
}

.detail-product-container .rating {
	width: 100%;
}

.detail-product-container .review {
	display: flex;
	align-items: center;
	color: #555555;
	font-size: 14px;
	font-weight: 300;
	margin-left: 20px;
}

.separator {
	margin: 0 5px;
}

.detail-product-price {
	display: flex;
}

.detail-product-price h2 {
	color: #f6930d;
	margin: 17px 0;
	margin-top: 13px;
	font-size: 28px;
}

.detail-product-price .review {
	justify-self: flex-end;
	color: #6dbe14;
}

.detail-product-overview {
	color: #555555;
	padding: 10px 0;
}

.detail-product-overview h4 {
	font-size: 16px;
	color: #333;
	margin: 0;
	margin-bottom: 5px;
	font-weight: 300;
	letter-spacing: 1px;
}
.detail-product-location {
	margin: 5px 0;
}

.carausel-container {
	width: 100%;
}

#location-container {
	width: 70%;
	display: flex;
}

.detail-product-location img {
	width: 8%;
}

.detail-product-container .map-container-with-map {
	padding-right: 0;
}

@media screen and (max-width: 991px) {
	.detail-product-container {
		grid-template-columns: 2fr 2fr;
	}
}

@media screen and (max-width: 768px) {
	.detail-product-container {
		grid-template-columns: 1fr;
	}
}
