* {
	box-sizing: border-box;
	margin: 0;
	padding: 0;
	font-family: "PT Sans", sans-serif;
}

.home-page-user-container {
	width: 8%;
	border: 1px solid gray;
	border-radius: 5%;
	background: rgba(0, 0, 0, 0.217);
	position: fixed;
	right: -10px;
	top: 100px;
	z-index: 100;
}

.zoom {
	transition: transform 0.5s; /* Animation */
}

.zoom:hover {
	transform: scale(
		1.1
	); /* (150% zoom - Note: if the zoom is too large, it will go outside of the viewport) */
}

a {
	outline: none;
}
